html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #dfdfdf;
  color: #080808;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 100vh;
  line-height: 1.6;
  padding: 20px;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 350px;
  padding: 20px;
}

ul {
  list-style: none;

  & li:before {
    background-color: #fa474a;
    border-radius: 0.375rem;
    content: '';
    display: inline-block;
    height: 0.75rem;
    margin-left: 0;
    margin-right: 6px;
    padding-left: 0;
    width: 0.75rem;
  }
}

.todo-list-pretext {
  font-style: italic;
}

form {
  display: inline-block;
  width: 100%;
}

input {
  padding: 4px 15px 4px 5px;
  width: 100%;
}

#button {
  background-color: #fc999b;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  margin-top: 8px;
  padding: 5px 15px;
  text-align: center;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

ol {
  margin-top: 8px;
  padding-left: 20px;
}

ol li {
  padding: 5px;
  color: #080808;

  &:nth-child(even) {
    background: #dfdfdf;
  }
}

li {
  & > button {
    background: none;
    border: none;
    color: #080808;
    font-weight: 700;
    float: right;
    padding: 4px;

    &:hover {
      background-color: #fc999b;
      color: #fff;
      cursor: pointer;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.strike {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.delete {
  display: none;
}